{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SaleCar by Arthur</title>
    <link rel="stylesheet" href="{% static 'concessionaria/css/style.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <p class="brand">SaleCar</p>
        <ul>
          <li><a href="#catalog">Catalog</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#feature">Features</a></li> <!-- Novo Link -->
          {% if user.is_authenticated %}
          <li><a href="{% url 'register_car_page' %}">Cadastro de Carros</a></li>
            <li>
              <p style="text-align: center;">Bem-vindo, {{ user.username }}!</p>
            </li>
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Sair</button>
            </form>
          {% else %}
            <button onclick="location.href='{% url 'login' %}'">Login</button>
          {% endif %}
        </ul>
      </nav>
    </header>


    <div class="c-banner" style="background-image: url('{% static "concessionaria/images/imagemmain.png" %}');"></div>
    <section class="catalog" id="catalog">
      <div class="content">
        <div class="title-wrapper-catalog">
          <p>Conheça nossos veículos</p>
          <h3>Catálogo</h3>
        </div>
        <div class="filter-card">
          <input
            type="text"
            class="search-input"
            placeholder="Choose your favorite model"
          />
          <input
            type="text"
            class="search-input"
            placeholder="Choose your location"
          />
          <input
            type="text"
            class="search-input2"
            placeholder="Choose the model year"
          />
          <button class="search-button">Search</button>
        </div>
        <div class="card-wrapper">
          <div class="card-item">
            <img src="{% static 'concessionaria/images/car-card.png' %}" alt="Car" />
            <div class="card-content">
              <h3>Audi Supra TT</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <button type="button">I want this!</button>
            </div>
          </div>
          <div class="card-item">
            <img src="{% static 'concessionaria/images/kisspng-2018-toyota-86-car-2018-ford-mustang-2018-ford-mustang-5b0d494cedff55.0056742415275973889748.png' %}" alt="Car" />
            <div class="card-content">
              <h3>Mustang</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <button type="button">I want this!</button>
            </div>
          </div>
          <div class="card-item"> 
            <img src="{% static 'concessionaria/images/camaro.png' %}" alt="Car" />
            <div class="card-content">
              <h3>Camaro</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus. 
              </p>
              <button type="button">I want this!</button>
            </div>
          </div>
          <div class="card-item"> 
            <img src="{% static 'concessionaria/images/bugatti_PNG25.png' %}" alt="Car" />
            <div class="card-content">
              <h3>Bugatti</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <button type="button">I want this!</button>
            </div>
          </div> 
          <div class="card-item">
            <img src="{% static 'concessionaria/images/ferrari.png' %}" alt="Car" />
            <div class="card-content">
              <h3>Ferrari</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <button type="button">I want this!</button>
            </div>
          </div> 
          <div class="card-item">
            <img src="{% static 'concessionaria/images/kisspng-car-audi-christmas-jeep-wrangler-vehicle-audi-5a736b7e3f1b78.8855557315175135982585.png' %}">
              <h3>Audi</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus.
              </p>
              <button type="button">I want this!</button>
            </div>
            <div class="card-item">
                <img src="{% static 'concessionaria/images/kisspng-2018-volkswagen-beetle-car-volkswagen-new-beetle-v-5af50651c6db21.6033014015260073778145.png' %}">
                  <h3>Fusca</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellendus.
                  </p>
                  <button type="button">I want this!</button>
                </div>
                <div class="card-item">
                    <img src="{% static 'concessionaria/images/kisspng-car-vehicle-audio-stereophonic-sound-stereo-2018-5adea653d19d34.1645318015245410118586.png' %}">
                      <h3>Ford de som rebaixado</h3>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellendus.
                      </p>
                      <button type="button">I want this!</button>
                    </div>
                    <div class="card-item"> 
                        <img src="{% static 'concessionaria/images/kisspng-fiat-palio-car-fiat-automobiles-fiat-siena-5af6244c110d15.8151092015260805880699.png' %}">
                          <h3>Pálio</h3>
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Repellendus.
                          </p>
                          <button type="button">I want this!</button>
                        </div>
                
          </div>
          
      </div>
      <section class="database-cars" id="database-cars">
        <div class="content">
          <div class="title-wrapper-database-cars">
            <p>Veja os carros cadastrados</p>
            <h3>Carros do Banco de Dados</h3>
          </div>
          <div class="card-wrapper">
            {% for car in cars %}
            <div class="card-item">
              <img src="{{ car.image.url }}" alt="{{ car.brand }}" />
              <div class="card-content">
                <h3>{{ car.brand }} {{ car.model }}</h3>
                <p>Ano: {{ car.year }}</p>
                <p>Preço: R$ {{ car.price }}</p>
              </div>
            </div>
            {% empty %}
            <p class="no-cars">Não há carros cadastrados no momento.</p>
            {% endfor %}
          </div>
        </div>
      </section>
    </section>

    <section class="about" id="about">
      <div class="content">
        <div class="title-wrapper-about">
          <p>Know about us</p>
          <h3>About</h3>
        </div>
        <div class="about-content">
          <div class="left"> 
            <img src="{% static 'concessionaria/images/about.png' %}" alt="About" />
          </div>
          <div class="right">
            <h3>Sale-Car - Diamantina</h3>
            <p>
                <p style="text-align: justify;">
                Bem-vindo à Sale-Car - Diamantina, sua concessionária de confiança em Diamantina, MG!
                <br><br>
                Com o compromisso de oferecer qualidade, transparência e um atendimento excepcional, somos apaixonados por conectar nossos clientes ao carro dos seus sonhos. Nossa missão é proporcionar experiências únicas, desde a escolha do veículo ideal até o suporte pós-venda, garantindo a sua total satisfação.
                <br><br>
                Estamos localizados em uma das cidades mais encantadoras de Minas Gerais, cercados pela rica história e belezas de Diamantina. Assim como nossa cidade, prezamos pela tradição e ao mesmo tempo buscamos inovação, oferecendo veículos modernos e serviços que atendem às necessidades do dia a dia.
                <br><br>
                Nossa equipe é formada por profissionais experientes e dedicados, prontos para orientar e esclarecer todas as suas dúvidas. Trabalhamos com uma seleção criteriosa de carros novos e seminovos, além de oferecer serviços de manutenção, financiamento e seguro, tudo em um só lugar.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="content">
        <div class="title-wrapper-features">
          <p>What you can do</p>
          <h3>Features</h3>
        </div>
        <div class="feature-card-block">
          <div class="feature-card-item">
            <img src="{% static 'concessionaria/images/feature-planet.png' %}" alt="Feature" /> 
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="{% static 'concessionaria/images/feature-planet.png' %}" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="{% static 'concessionaria/images/feature-planet.png' %}" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="{% static 'concessionaria/images/feature-planet.png' %}" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="{% static 'concessionaria/images/feature-planet.png' %}" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="{% static 'concessionaria/images/feature-planet.png' %}" alt="Feature" />
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="main">
        <div class="content footer-links">
          <div class="footer-company">
            <h4>Company</h4>
            <h6>About</h6>
            <h6>Contact</h6>
          </div>
          <div class="footer-rental">
            <h4>Rental</h4>
            <h6>Self-Drive</h6>
            <h6>Chauffer-Driven</h6>
            <h6>Help</h6>
          </div>
          <div class="footer-social">
            <h4>Stay connected</h4>
            <div class="social-icons">
              <img src="{% static 'concessionaria/images/instagram.png' %}" alt="Instagram" /> 
              <img src="{% static 'concessionaria/images/facebook.png' %}" alt="Facebook" />
            </div>
          </div>
          <div class="footer-contact">
            <h4>Contact US</h4>
            <h6>+55 31 988776655</h6>
            <h6>contato@devsuperior.com.br</h6>
            <h6>Nome da Rua, Diamantina MG</h6>
          </div>
        </div>
      </div>
      <div class="last">Arthur Abreu Patricio de Sousa - 2022</div>
    </footer>
    <script src="{% static 'concessionaria/js/script.js' %}"></script>
  </body>
</html>