{% extends 'concessionaria/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="login">
    <div class="col-md-4">
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label" for="id_username">Usuário:</label>
                <input type="text" name="username" class="form-control">
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="id_password">Senha:</label>
                <input type="password" name="password" class="form-control">
            </div>

            <button style="background-color: #a03d3d; color: white; border: #a03d3d;" class="btn btn-warning" type="submit">Entrar</button>
            <input type="hidden" name="next" value="/">

        </form>
        
        <a style="color: #a03d3d;" href="{% url 'password_reset' %}">Esqueci minha senha</a>
    </div>
</div>

{% endblock %}